body {
    background-color: #3A5894;
    background: no-repeat 0 50% -moz-radial-gradient(50% 0%, circle, #739AC5, #3A5894);
    background: no-repeat 0 50% -webkit-gradient(radial, center top, 0, center top, 600, from(#739AC5), to(#3A5894));
    text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.3);

    color: white;

    font-family: 'Trykker', serif;
}

header, #content {
    position: relative;
    margin: auto;
}

header {
    width: 800px;
    font-size: 1.5em;
}

#content {
    width: 600px;
    border-bottom: 0;

    font-size: 1.2em;
}

section, header {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.5);
}

section.last {
    border-bottom: 0;
    margin-bottom: 5em;
}

em {
    font-style: normal;
    background-color: #739AC5;
    padding: 2px;
}

a:active, a:visited, a:hover, a:link {
    color: white;
}