<!DOCTYPE html>
<head>
    <title>webzap!</title>

    <link rel="stylesheet" href="static/prettify.css" />
    <link rel="stylesheet" href="static/styles.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="static/prettify.js"></script>
    <script src="static/scripts.js"></script>
</head>

<body>
	<header>
		<strong>webzap</strong> is a simple tool for pushing webpages from one computer to another. The destination (e.g. an iMac) runs a lightweight Python HTTP server and source devices (e.g. laptops, phones or tablets) use a bookmarklet to send over the desired page. 
	</header>

    <section>
        <h1>Customize</h1>
        <input type="text" id="bookmarklet_label" value="Push to Desktop" />
    </section>
    
    <section>
        <h1>Bookmarklet</h1>
        <a id="bookmarklet">&nbsp;</a>
    </section>

    <section>
        <h1>Bookmarklet URL (minified)</h1>
        <code class="prettyprint" id="minified">&nbsp;</code>
    </section>

    <section>
        <h1>Source (pretty-fied)</h1>
        <code class="prettyprint" id="source">(function() {
    var f = function() {
      jQuery.noConflict()(function($) {
        $.post('@SERVICE_URL@openurl', { url: location.href }, function(data) {
          alert(data.message);
        });
      });
    };
  
    if (typeof jQuery != 'undefined') {
      f();
    } else {
      var head = document.getElementsByTagName('head')[0];
    
      var script = document.createElement('script');
      script.src = 'http://code.jquery.com/jquery-latest.min.js';
      script.onload = function() {
        f();
        head.removeChild(script);
      };
    
    head.appendChild(script);
  }
})();
        </code>
    </section>

</body>
