<!DOCTYPE html>
<head>
    <title>webzap</title>

    <link rel="stylesheet" href="static/prettify.css" type="text/css" />
    <link rel="stylesheet" href="static/styles.css" type="text/css" />

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="static/prettify.js"></script>
    <script type="text/javascript" src="static/scripts.js"></script>

</head>

<body>
    <section>
        <h1>Customize</h1>
        <input type="text" id="bookmarklet_label" value="Push to Desktop" />
    </section>
    
    <section>
        <h1>Bookmarklet</h1>
        <a id="bookmarklet">&nbsp;</a>
    </section>

    <section>
        <h1>Source</h1>
        <code class="prettyprint">(function() {
    var head = document.getElementsByTagName('head')[0];
    
    var script = document.createElement('script');
    script.src = 'https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js';
    script.onload = function() {
        // TODO: Need to make this more robust - what if jQuery is already loaded, etc.
        $.post('SERVICE_URLopenurl', { url: location.href }, function(data){
            alert(data.message);
        });

        head.removeChild(script);
    };
    
    head.appendChild(script);
})();
        </code>
    </section>

</body>
